In [123]:
import pandas as pd
import numpy as np
from __future__ import division
from math import log

In [295]:
class WoE:
    def __init__(self, tipo = 'd'):
        # "tipo" es el tipo de variable
        self.maps = None
        #self.map serán las flechas o la función que se aplica a X 
        self.tipo = tipo
        self.IV = None
    def fit(self, Z, y, disc, cont):
        X = Z.copy()
        self.IV = pd.DataFrame([np.zeros(len(X.columns))],columns = X.columns)
        cols = X.columns
        X['var'] = y
        var = 'var'
        X['ID'] = range(len(X))
        for col in disc:
            if self.tipo == "d":
                a = X.pivot_table(aggfunc='count',columns='var',fill_value=0, index=col,values='ID').reset_index()
                a.loc[-1] =["TOTAL", sum(a[0]), sum(a[1])]
            for y in set(X[col].values):
                g = int(a[a[col]==y][1])/int(a[a[col]=='TOTAL'][1])
                b = int(a[a[col]==y][0])/int(a[a[col]=='TOTAL'][0])
                if g*b == 0 :
                    d = log((g+0.5)/(b+0.5))
                else:
                    d = log(g/b)
                self.IV[col] += float((g-b)*d)
        for col in cont:

In [286]:
Z = pd.read_csv("Ejemplo.csv")
Z.head()

   a1  a2  a3  a4  a5  a6  y
0   5   2   3   2   0   1  0
1   2   3   6   8  10   8  1
2   2   3   4   7  14   5  0
3   3   5   6   2   2   6  0
4   2   2   5   1  12   8  1

In [287]:
X = Z[['a'+str(x) for x in range(1,7)]]
Y = Z['y']

In [291]:
woe = WoE()

In [292]:
woe.fit(X,Y, )

In [294]:
woe.IV

         a1        a2        a3       a4        a5        a6
0  0.731386  0.725723  0.385129  0.53673  0.615516  0.949153